{% extends "base.html" %}
	{% block title %}Capri Auth - Index{% endblock %}
	{% block head %}
		{{ super() }}
	{% endblock %}
	{% block content %}
		<h1><img src="https://image.eveonline.com/Character/{{ship.Character.characterID}}_64.jpg"> {{ship.Character.characterName}}</h1>
		<h2><img src="https://image.eveonline.com/Render/{{ship.InvType.typeID}}_64.png"> {{ship.InvType.typeName}}</h2>
		<hr />

		<div class="row">
		{% for group in contents %}
		<div class="col-xs-12 col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{group.group.groupName}}
			</div>
			<div class="panel-body" style="padding: 0;">
				<table class="table table-striped table-hover" style="margin: 0;">
						<thead>
							<tr>
								<td class="col-xs-2">&nbsp;</td>
								<td class="col-xs-8">Item</td>
								<td class="col-xs-2">Quantity</td>
							</tr>
						</thead>
						{% for item in group['items'] %}
						<tr>
							<td><div align="center"><img src="https://image.eveonline.com/Type/{{item.InvType.typeID}}_32.png"></a></td>
							<td>{{item.InvType.typeName}}</td>
							<td>{{item.quantity}}</td>
						</tr>
						{% endfor %}
				</table>
			</div>
		</div>
		</div>
		{% endfor %}
		</div>
	{% endblock %}
