{% extends "base.html" %}
	{% block title %}Capri Auth - Index{% endblock %}
	{% block head %}
		{{ super() }}
	{% endblock %}
	{% block content %}
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Ship</th>
					<th>Character</th>
					<th>Corp</th>
					<th>Location</th>
					<th>Fit</th>
				</tr>
			</thead>
			{% for super in supers %}
				<tr>
					<td><img src="https://image.eveonline.com/Type/{{super.type.typeID}}_32.png"> {{super.type.typeName}}</td>
					<td><img src="https://image.eveonline.com/Character/{{super.char.characterID}}_32.jpg"> {{super.char.characterName}}</td>
					<td><img src="https://image.eveonline.com/Corporation/{{super.corp.corporationID}}_32.png"> {{super.corp.ticker}}</td>
					<td>{{super.char.lastKnownLocation}}</td>
					<td><a class="btn btn-xs btn-primary" href="/viewship/{{super.ship.itemID}}">View</a>
				</tr>
			{% endfor %}
		</table>
	{% endblock %}
